* {
  font-family: "Noto Sans", sans-serif;
}

/* bg colors */
.bg-primary {
  background-color: #051777;
}
.bg-menulist {
  background-color: rgba(5, 23, 119,0.7);
}
.bg-secondary {
  background-color: #ffb600;
}
.bg-secondary-light {
  background-color: #ffdb66;
}

/* text colors */
.text-primary {
  color: #051777;
}
.text-secondary {
  color: #ffb600;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}