* {
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}
.bg-card-services
{
  background: linear-gradient(to bottom, #f04d99 0%, #008aca 100%);
}
/* bg colors */
.bg-primary {
  background-color: #051777;
}
.bg-menulist {
  background-color: rgba(5, 23, 119,0.7);
}
.bg-secondary {
  background-color: #ffb600;
}
.bg-secondary-light {
  background-color: #ffdb66;
}

/* text colors */
.text-primary {
  color: #051777;
}
.text-secondary {
  color: #ffb600;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.bg-try{
  background: linear-gradient(to bottom, #f833ff 0%, #1c10c5 100%);
}